<div class = "my-pages">
<% @ingredients.each do |ingredient| %>
<div class = "container-fluid my-con">
  <h2><%= link_to ingredient.name, "/ingredients/show/#{ingredient.id}", :class => "my-link" %></h2>
  <h4><span>Calories:</span> <%= ingredient.calories %> </h4>

</div>
<% end %>

<%= link_to "New Ingredient", "/ingredients/new", :class => "my-link"  %>
</div>
